---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Milky-Way";
import Contact from '../components/contact.astro'
import Prices from '../components/prices.astro'
---

<Layout>

    <h1>Commission Sheet</h1>
    <span class="badge">Digital Artist & Designer</span>
    <h2>Prices and Types</h2>
    <Prices />
    

    <h2>Contact</h2>
    <Contact />

</Layout>



