---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Milky-Way";
---

<Layout>

    <h1>Commission Sheet</h1>
    <span class="badge">Digital Artist & Designer</span>
    <h2>Prices</h2>
    <p>
        Praesent malesuada mi nisi, quis tempus magna venenatis ut.
        Suspendisse tempor sem at scelerisque congue. Curabitur mollis,
        mi id molestie finibus, metus sem sagittis nunc, euismod feugiat orci neque non lorem.
        Aenean sollicitudin erat eu molestie tempus. Nunc ac eros elementum, fermentum lacus at,
        pellentesque mauris. Suspendisse eros neque, interdum euismod consectetur convallis,
        porttitor at massa. Phasellus a ultrices arcu. Donec viverra, lorem in pellentesque euismod,
        libero justo gravida nibh, non ultricies justo purus ultrices est.
    </p>
    <form>
  <div class="contact">

    <h2>Contact</h2>

  </div>
        <label>
    Email:
    <input type="text" name="email" />
  </label>
  <label>
    Commission Type:
    <input type="text" name="type" />
  </label>
  <label>
    Description:
    <input type="text" name="details" />
  </label>
  <button class="btn">Submit</button>
</form>

</Layout>

<style>

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
}

label {
  font-size: 1.35rem;
    display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  font-size: 2.5rem;
    background-color: var(--color-primary);
  color: var(--color-white);
  padding: 2rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.contact {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;

}

</style>