---
import { Accordion, AccordionItem } from 'free-astro-components'
---

<Accordion>
    
    <AccordionItem title="Head ">
    <p>Example</p>
    <img src="https://c9f3mp48mf.ufs.sh/f/0vmfMbAeUoZRlFb53VW1H5hqSdON6YPkoApU0VIgWLtGJB7D" width="200px" height="200px" />
    <img src="https://c9f3mp48mf.ufs.sh/f/0vmfMbAeUoZRxxrcAHemDzId192VqFAHhOWX8LMTEiQS5a7s" width="200px" height="200px" />
    <p>
     $2 
    </p>
  </AccordionItem>
  <AccordionItem title="Half Body">
    <p>Example</p>
    <img src="https://c9f3mp48mf.ufs.sh/f/0vmfMbAeUoZRexNz97HpCoN50yaX4MYQRg6ZSq9m8ujsUGVA" width="200px" height="200px" />
    <img src="https://c9f3mp48mf.ufs.sh/f/0vmfMbAeUoZR1RpFeA7bBiKEuTYma89C7fqgVWZGRNokUlP4" width="200px" height="200px" />
    <p>
      $5
    </p>
  </AccordionItem>
  <AccordionItem title="Full Body">
    <p>Example</p>
    <img src="https://c9f3mp48mf.ufs.sh/f/0vmfMbAeUoZRrS5BirqPM0ohi59Wbp1vrDaLmgFkBKENOV3U" width="200px" height="200px" />
    <img src="https://c9f3mp48mf.ufs.sh/f/0vmfMbAeUoZRerspemHpCoN50yaX4MYQRg6ZSq9m8ujsUGVA" width="200px" height="200px" />
    <p>
      $10
    </p>
  </AccordionItem>
  <AccordionItem title="Dos ✅">
    
    <p>-  Slight Gore</p>
    <p>- Furries</p>
    <p>- OC's</p>
    <p>- MLP</p>
  </AccordionItem>
  <AccordionItem title="Donts ❌">
    
    <p>- NSFW</p>  
     <p>- Incest </p> 
     <p>- Anything too complex </p> 
     <p>- Anything illegal  </p>
     <p>- Hardcore Gore</p>
      
    
  </AccordionItem>
</Accordion>